html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  display: inline-block;
  width: 25%;
  float: left;
}

img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: .875rem;
}

.Barrett {
  background-color: #e2e2e2;
  border-left: 1px solid #333;
}

.Hedegaar {
  background-color: #ccc;
  border-left: 1px solid #333;
}

.Čejková {
  background-color: #aaa;
  border-left: 1px solid #333;
}

.Olivárez {
  background-color: #999;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
